.form {
	display: flex;
	justify-content: center;
	padding: 24px 0;
}

.text-field {
	width: 100%;
	max-width: 300px;
	padding: 8px 16px;
	margin: 0 8px;
	outline: none;
	border: 1px solid black;
	border-radius: 4px;
}

.submit-button {
	background: none;
	padding: 0 8px;
	margin-right: 8px;
	color:black;
	border: 1px solid #dadada;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 4px;
}

.submit-button:hover {
	cursor: pointer;
	background-color:black;
	color: white;
	transition: all 0.2s;
}

.item-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

.disini {
	color: inherit;
}

.button {
	padding: 8px 16px;
	border: 1px solid #dadada;
	min-width: 100px;
	border-radius: 4px;
	margin: 20px auto;
	text-align: center;
}

.button:hover {
	cursor: pointer;
	background-color: #dadada;
	color: black;
	transition: all 0.2s ease;
}

h1{
	text-align: center;
}